<div id="<%= dom_id servico %>">
  <p>
    <strong>Nome:</strong>
    <%= servico.nome %>
  </p>

  <p>
    <strong>Duracao:</strong>
    <%= servico.duracao %>
  </p>

  <p>
    <strong>Preco:</strong>
    <%= servico.preco %>
  </p>

</div>
