<p>Perfil atual: <%= current_usuario.perfil %></p>
<div class="container">
  <% if current_usuario.administrador? %>
    <%= render "administrador" %>
  <% elsif current_usuario.funcionario? %>
    <%= render "funcionario" %>
  <% elsif current_usuario.cliente? %>
    <%= render "cliente" %>
  <% end %>
</div>