<h2>Agendamentos</h2>

<div class="d-flex justify-content-end mb-3">
  <% if can? :create, Agendamento %>
    <%= link_to "Novo agendamento", new_agendamento_path, class: "btn btn-primary", data: { turbo_frame: "agendamento_modal", bs_toggle: "modal", bs_target: "#agendamentoModal" } %>
  <% end %>
</div>

<div id="agendamentos_table">
  <%= render "agendamentos/agendamentos_table", agendamentos: @agendamentos %>
</div>
