<div id="<%= dom_id funcionario %>">
  <p>
    <strong>Nome:</strong>
    <%= funcionario.nome %>
  </p>

  <p>
    <strong>Especialidade:</strong>
    <%= funcionario.especialidade %>
  </p>

</div>
